<div id="vfx_loader_block" style="display: none;">
  <div class="vfx-loader-item"><img src="http://businesscardfolder.com/cl/images/loading.gif" alt=""></div>
</div>

<div id="logo-header">
  <div class="container">
    <div style="height: 30px;width: 100%;position: relative;border-bottom: 0px solid #ff8c00;">
      <div style="position: absolute;width: 100%;top: 0px;right: 0px;height: 100%;">
        <div style="position: absolute;right: 12px;top: -12px;">

          <a style="font-size: 12px; padding-right: 10px;" class="btn_login" href="">language</a>
          <a style="font-size: 12px; padding-right: 10px;" class="btn_login" href="">country</a>
          <a style="font-size: 12px; padding-right: 10px;" href="" class="btn_login" data-toggle="modal"
             data-target="#login">LOG IN</a>
          <a style="font-size: 12px; padding-right: 10px;" href="" class="btn_register" data-toggle="modal"
             data-target="#register">SIGN UP</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-9">
        <div id="logo"><a href="http://businesscardfolder.com"><img
          src="http://businesscardfolder.com/cl/images/logo.png" alt="logo"></a></div>
      </div>
      <div class="col-sm-9 text-right" style="z-index: 999 !important;">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thrift-1"
                    aria-expanded="false"><span class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span>
              <span class="icon-bar"></span> <span class="icon-bar"></span></button>
          </div>
          <div class="collapse navbar-collapse" id="thrift-1"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                                 role="button" aria-haspopup="true"
                                                                 aria-expanded="false"></a>

            <div id="nav_menu_list">
              <ul>


                <li>
                  <a href="http://businesscardfolder.com/business-card-head.html">business card directory <i
                    class="fa fa-caret-down"></i></a>
                  <ul class="dropdown">
                    <li><a href="http://businesscardfolder.com/business-card-head.html"><i
                      class="fa fa-angle-double-right"></i> business card - head office</a></li>
                    <li><a href="http://businesscardfolder.com/business-card-bo.html"><i
                      class="fa fa-angle-double-right"></i> business card - branch office</a></li>
                    <li><a href="http://businesscardfolder.com/categories.html"><i class="fa fa-angle-double-right"></i>
                      name card - departmental staff</a></li>
                    <li><a href="http://businesscardfolder.com/categories.html"><i class="fa fa-angle-double-right"></i>
                      business card folder (all)</a></li>


                  </ul>
                </li>

                <li>
                  <a href="">products directory <i class="fa fa-caret-down"></i></a>
                  <ul class="dropdown">
                    <li><a href="http://businesscardfolder.com/categories.html"><i class="fa fa-angle-double-right"></i>
                      product division</a></li>
                    <li><a href="http://businesscardfolder.com/categories.html"><i class="fa fa-angle-double-right"></i>
                      service division</a></li>
                    <li><a href="http://businesscardfolder.com/categories.html"><i class="fa fa-angle-double-right"></i>
                      brand division</a></li>
                    <li><a href="http://businesscardfolder.com/categories.html"><i class="fa fa-angle-double-right"></i>
                      promotions</a></li>
                  </ul>
                </li>
                <li>
                  <a href="">merchant directory <i class="fa fa-caret-down"></i></a>
                  <ul class="dropdown">
                    <li><a href="http://businesscardfolder.com/categories.html"><i class="fa fa-angle-double-right"></i>
                      region</a></li>
                    <li><a href="http://businesscardfolder.com/categories.html"><i class="fa fa-angle-double-right"></i>
                      business category</a></li>
                    <li><a href="http://businesscardfolder.com/categories.html"><i class="fa fa-angle-double-right"></i>
                      membership card</a></li>
                  </ul>
                </li>
                <li>
                  <a href="">card membership <i class="fa fa-caret-down"></i></a>
                  <ul class="dropdown">
                    <li><a href="http://businesscardfolder.com/categories.html"><i class="fa fa-angle-double-right"></i>
                      region</a></li>
                    <li><a href="http://businesscardfolder.com/categories.html"><i class="fa fa-angle-double-right"></i>
                      ehm &amp; ehp card</a></li>
                    <li><a href="http://businesscardfolder.com/categories.html"><i class="fa fa-angle-double-right"></i>
                      purchase amount</a></li>
                  </ul>
                </li>


                <li><a href="http://businesscardfolder.com/contact.html">contact us</a></li>


              </ul>
            </div>

          </div>
        </nav>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>


<footer class="site-footer footer-map">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h2>About Us</h2>
          <hr>
          <p class="about-lt">COOOZONE (CAMBODIA) ENTREPRISE has been established since 2013 by the firstly new
            Cambodian innovation of
            web designing & developing on Software and Application, storing the Global Company &
            Institution Information Directory ...</p>
          <a href="http://businesscardfolder.com/about.html" class="btn-primary-link more-detail"><i
            class="fa fa-hand-o-right"></i> Read More</a>
          <h2>Follow Us</h2>
          <hr>
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h2>Recent Listing</h2>
          <hr>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h2>Useful links</h2>
          <hr>
          <ul class="use-slt-link">
            <li><a href="#"><i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;Privacy &amp; Policy</a></li>
            <li><a href="#"><i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;Payment Method</a></li>
            <li><a href="#"><i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;Sitemap</a></li>
            <li><a href="#"><i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;Support</a></li>
            <li><a href="http://businesscardfolder.com/terms-conditions.html"><i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;Terms
              &amp; Condition</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h2>Have you any Query?</h2>
          <hr>
          <form class="form-alt">
            <div class="form-group">
              <input type="text" placeholder="Name :-" required="" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Email :-" required="" class="form-control">
            </div>
            <div class="form-group">
              <textarea placeholder="Message :-" required="" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn-quote">Send Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <p class="text-xs-center">Copyright © 2017 All Rights Reserved.</p>
        </div>
        <div><a href="#" class="scrollup" style="display: none;">Scroll</a></div>
      </div>
    </div>
  </div>
</footer>
<!--================================ Login and Register Forms ===========================================-->

<!-- login form -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="listing-modal-1 modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel"> Login</h4>
      </div>
      <div class="modal-body">
        <div class="listing-login-form">
          <form action="http://businesscardfolder.com/clc/login" method="post">
            <input type="hidden" name="_token" value="QW7h9Ori2jyE65Mfs6mTqNdoloUPINzTOvX1S3sG">
            <div class="listing-form-field"><i class="fa fa-user blue-1"></i>
              <input class="form-field bgwhite" type="text" name="email" placeholder="email">
            </div>
            <div class="listing-form-field"><i class="fa fa-lock blue-1"></i>
              <input class="form-field bgwhite" type="password" name="password" placeholder="password">
            </div>
            <div class="listing-form-field clearfix margin-top-20 margin-bottom-20">
              <input type="checkbox" id="checkbox-1-1" class="regular-checkbox">
              <label for="checkbox-1-1"></label>
              <label class="checkbox-lable">Remember me</label>
              <a href="#">forgot password?</a></div>
            <div class="listing-form-field">
              <input class="form-field submit" type="submit" value="login">
            </div>
          </form>
          <div class="bottom-links">
            <p>not a member?<a href="#">create account</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- registration form -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="listing-modal-1 modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel2">Registration</h4>
      </div>
      <div class="modal-body">
        <div class="listing-register-form">
          <form action="http://businesscardfolder.com/clc/registration" method="post" class="registration">
            <input type="hidden" name="_token" value="QW7h9Ori2jyE65Mfs6mTqNdoloUPINzTOvX1S3sG">
            <div class="listing-form-field"><i class="fa fa-user blue-1"></i>
              <input class="form-field bgwhite" type="text" name="name" placeholder="name" required="required">
            </div>
            <div class="listing-form-field"><i class="fa fa-envelope blue-1"></i>
              <input class="form-field bgwhite" type="email" name="email" placeholder="email" required="required">
            </div>
            <div class="listing-form-field"><i class="fa fa-phone blue-1"></i>
              <input class="form-field bgwhite" type="text" name="phone" placeholder="phone" required="required">
            </div>
            <div class="listing-form-field"><i class="fa fa-lock blue-1"></i>
              <input class="form-field bgwhite" type="password" name="password" placeholder="password"
                     required="required">
            </div>
            <div class="listing-form-field"><i class="fa fa-lock blue-1"></i>
              <input class="form-field bgwhite" type="password" name="password_confirmation"
                     placeholder="confirm password" required="required">
            </div>
            <div class="listing-form-field clearfix margin-top-20 margin-bottom-20">
              <input type="checkbox" id="checkbox-1-2" class="regular-checkbox" name="agree" value="agree"
                     required="required">
              <label for="checkbox-1-2"></label>
              <label for="checkbox-1-2" class="checkbox-lable">i agree with</label>
              <a href="http://businesscardfolder.com/terms-conditions.html">terms &amp; conditions</a></div>
            <div class="listing-form-field">
              <input class="form-field submit" type="submit" value="create account">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

