<div id="location-map-block" style="display: none;">
  <div id="location-homemap-block"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <div id="location-link-item">
          <button id="map_list"><i class="fa fa-angle-double-up"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="slider-banner-section"
     style="background-position: right 50% top 0px;background-size: cover !important;background: url('http://businesscardfolder.com/cl/images/slide/mechanic.jpg')  no-repeat #000000;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center" id="my-text-center">
        <div id="home-slider-item" class="hidden-xs">

          <span class="helpyou_item"><span>Register Your  Business Card</span></span>

          <p>In Global Business Card Folder</p>
        </div>
        <div id="search-categorie-item-block">
          <form id="categorie-search-form">
            <h1>search your business card</h1>
            <div class="col-sm-9 col-md-10 nopadding">
              <div id="search-input">
                <div class="col-sm-6 nopadding">

                  <select id="location-search-list" class="form-control">
                    <option value="0">SEARCH ALL</option>
                    <option value="1">REGION, DISTRICT & COMMUNE</option>
                    <option value="2">CATEGORY & TYPE</option>
                    <option value="3">BCFD ID, COMPANY NAME, ADDRESS & POST CODE</option>
                  </select>


                </div>


                <div class="col-sm-6 nopadding">
                  <div class="form-group">
                    <input id="location-search-data-store" class="form-control" name="search"
                           placeholder="search by business or keyword" required="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-md-2 text-right nopadding-right">
              <div id="location-search-btn">
                <button type="submit" id="search-btn"><i class="fa fa-search"></i>Search</button>
              </div>
            </div>
          </form>
        </div>
        <div id="location_slider_item_block">
          <button id="map_mark"><i class="fa fa-map-marker"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="search-categorie-item">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 text-center">
        <div class="col-md-12 feature-item-listing-heading bt_heading_3">
          <h1>popular business category</h1>
          <div class="blind line_1"></div>
          <div class="flipInX-1 blind icon"><span class="icon"><i class="fa fa-stop"></i>&nbsp;&nbsp;<i
            class="fa fa-stop"></i></span></div>
          <div class="blind line_2"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="categorie-list-box">
            <div class="search-categories-boxes" style="position: relative">
              <h2><i class="fa fa-suitcase"></i> EDUCATION</h2>

              <div class="categories-list" style="display: none;position: absolute;">
                <ul>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Accounting Training – Classes</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Beauty Schools</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Child Care Centers</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Computer Schools &amp; Training</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Cooking School</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Dancing Instruction</a>

                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="categorie-list-box">
            <div class="search-categories-boxes" style="position: relative">
              <h2><i class="fa fa-suitcase"></i> SHOPPING</h2>

              <div class="categories-list" style="display: none;position: absolute;">
                <ul>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Art Galleries</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Artists – Fine Arts</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Auctioneers</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Bags &amp; Suitcases – Retailers &amp; Wholesalers</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Balloons</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Cameras – Retail</a>

                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="categorie-list-box">
            <div class="search-categories-boxes" style="position: relative">
              <h2><i class="fa fa-suitcase"></i> RESTAURANT, CAFÉ</h2>

              <div class="categories-list" style="display: none;position: absolute;">
                <ul>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Bar &amp; Pub</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> BBQ &amp; Soup</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Bubble Tea &amp; Ice Cream</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Café</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Fast Food</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Restaurants</a>

                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="categorie-list-box">
            <div class="search-categories-boxes" style="position: relative">
              <h2><i class="fa fa-suitcase"></i> TRAVEL &amp; TOURISM</h2>

              <div class="categories-list" style="display: none;position: absolute;">
                <ul>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Limousine Services</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Museum</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Resorts</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Ticket Agencies – Travel</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Tour Operators</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Tourist Information</a>

                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="categorie-list-box">
            <div class="search-categories-boxes" style="position: relative">
              <h2><i class="fa fa-suitcase"></i> REAL ESTATE &amp; PROPERTY </h2>

              <div class="categories-list" style="display: none;position: absolute;">
                <ul>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Apartment Rental Service</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Condominiums</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Estate Development Companies</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Property Appraisal Companies</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Property Investment Companies</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Property Management Companies</a>

                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="categorie-list-box">
            <div class="search-categories-boxes" style="position: relative">
              <h2><i class="fa fa-suitcase"></i> FOOD &amp; BEVERAGE</h2>

              <div class="categories-list" style="display: none;position: absolute;">
                <ul>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Baby Foods – Wholesalers &amp; Manufacturers</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Bakeries</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Banquet Catering</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Beer – Breweries Manufacturers &amp; Distributors</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Beverages – Wholesalers, Distributors &amp; Manufacturers</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Coffee &amp; Tea Product &amp; Equipment Supplies</a>

                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="categorie-list-box">
            <div class="search-categories-boxes" style="position: relative">
              <h2><i class="fa fa-suitcase"></i> ENTERTAINMENT</h2>

              <div class="categories-list" style="display: none;position: absolute;">
                <ul>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Balloon Rides</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Boat Excursions – Rental</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Casino</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Cinemas &amp; Movie Centers (MTVs)</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Conference Rooms &amp; Organizers</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Entertainment Centers</a>

                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="categorie-list-box">
            <div class="search-categories-boxes" style="position: relative">
              <h2><i class="fa fa-suitcase"></i> SPORT &amp; RECREATION</h2>

              <div class="categories-list" style="display: none;position: absolute;">
                <ul>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Bowling</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Casino</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Diving Instruction &amp; Services</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Go-Karting</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Helmets – Retailers &amp; Wholesalers</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Horseback Riding Instruction, Rental</a>

                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="categorie-list-box">
            <div class="search-categories-boxes" style="position: relative">
              <h2><i class="fa fa-suitcase"></i> CONSTRUCTION</h2>

              <div class="categories-list" style="display: none;position: absolute;">
                <ul>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Architectural – Designer &amp; Consultants</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Asphalt</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Bricks &amp; Clay – Supply &amp; Manufacturing</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Cart Manufacturers &amp; Supplies</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Ceilings</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Cement Suppliers &amp; Manufacturers</a>

                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="categorie-list-box">
            <div class="search-categories-boxes" style="position: relative">
              <h2><i class="fa fa-suitcase"></i> AUTOMOTIVE</h2>

              <div class="categories-list" style="display: none;position: absolute;">
                <ul>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Automobile Glass Coating</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Automotive Maintenance Equipment</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Battery Supplies – Vehicles</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Car &amp; Automobile – Retailer</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Car &amp; Motorbike – Rental</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Car &amp; Automobile Spare-parts &amp; Accessories</a>

                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="categorie-list-box">
            <div class="search-categories-boxes" style="position: relative">
              <h2><i class="fa fa-suitcase"></i> BANK &amp; FINANCE</h2>

              <div class="categories-list" style="display: none;position: absolute;">
                <ul>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Banking Equipment &amp; Supplies</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Banks</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Microfinance Institution (MFI)</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Money Exchange</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Money Transfer</a>

                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="categorie-list-box">
            <div class="search-categories-boxes" style="position: relative">
              <h2><i class="fa fa-suitcase"></i> BUSINESS SERVICE</h2>

              <div class="categories-list" style="display: none;position: absolute;">
                <ul>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Accountants – General Service</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Internet Advertising</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Advertising Agent &amp; Consultants</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Architectural – Designer/Consultants</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Artists – Commercial Shop</a>

                  </li>
                  <li style="white-space: nowrap !important;overflow: hidden;"><a href="listing_list.html"><i
                    class="fa fa-hand-o-right"></i> Billboards – Designing &amp; Advertising</a>

                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="feature-item_listing_block" style="padding-top: 0px !important;">
  <div class="container">

    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="col-md-12 feature-item-listing-heading bt_heading_3">
          <h1 id="after-ajax">post business card</h1>
          <div class="blind line_1"></div>
          <div class="flipInX-1 blind icon"><span class="icon"><i class="fa fa-stop"></i>&nbsp;&nbsp;<i
            class="fa fa-stop"></i></span></div>
          <div class="blind line_2"></div>
        </div>
      </div>
      <div class="col-sm-12 text-center" id="faq-result">

        <input type="hidden" value="" class="page-url">


        <!--==============================================================-->
        <!--==============================================================-->
        <!--==============================================================-->
        <!--==============================================================-->
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="sorts-by-results" style="text-align: center;">
              <img src="http://cdn.sabay.com/cdn/ads.sabay.com/images/ae7017aa2a973c90893c39fed308ae24.gif" class="responsive" alt="" title="" border="0">
            </div>
          </div>

          <div class="col-md-6 col-sm-12 col-xs-12 hidden-xs hidden-sm">
            <div class="sorts-by-results" style="text-align: center;">
              <img src="http://cdn.sabay.com/cdn/ads.sabay.com/images/ae7017aa2a973c90893c39fed308ae24.gif" class="responsive" alt="" title="" border="0">
            </div>
          </div>

        </div>

        <ng-container *ngIf="rows">
          <ng-container *ngIf="rows.length>0">
            <div *ngFor="let ch of rows" class="row">

              <div *ngFor="let row of ch" class="col-md-6 col-sm-6 col-xs-12">
                <div class="recent-listing-box-container-item list-view-item">
                  <div class="col-md-4 col-sm-12 nopadding feature-item-listing-item listing-item">
                    <div class="recent-listing-box-image-x">
                      <img class="responsive"
                           src="{{row.company_view}}"
                           alt="img1">
                    </div>
                    <a class="btn" href="">View Listing »</a>
                  </div>
                  <div class="col-md-8 col-sm-12 nopadding">
                    <div class="recent-listing-box-item">

                      <img src="{{row.logo_vertical}}"
                           style="height: 60px;position: absolute;right: 0;top: 0;">
                      <div class="listing-boxes-text"><a href="">
                        <h3>{{row.official_name}}</h3>
                      </a>


                        <ng-container *ngFor="let item of (row.telephone_number | keys )">

                          <a href="number" style="color: black;" *ngIf="item.value.value != null">
                            <i class="fa fa-phone"></i> {{item.value.value}}<span class="hidden-xs">( {{item.value.key}} )</span>
                            <br>
                          </a>
                        </ng-container>


                        <p>
                          <ng-container *ngFor="let item of (row.mobile_number | keys )">
                            <a href="mobile_number" style="color: #ff7f00;" *ngIf="item.value.value != null">
                              <i class="fa fa-phone"></i>  {{item.value.value}}
                             <!-- <span class="hidden-xs">( {{item.value.key}} )</span> -->
                            </a>
                          </ng-container>
                          <br>

                          <ng-container *ngFor="let item of (row.email | keys )">
                            <a href="email" style="color: #ff7f00;" *ngIf="item.value.value != null">
                              <i class="fa fa-envelope"></i> {{item.value.value}}
                            </a>
                          </ng-container>
                          <br>

                          <a href="{{row.website}}" target="_blank" style="color: #ff7f00;" *ngIf="row.website != null">
                            <i class="fa fa-globe"></i> {{row.website}}</a><br>
                          <i class="fa fa-map-marker text-danger"></i> {{row.address}}

                        </p>
                      </div>


                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="vfx-person-block" style="text-align: center;">

              <app-pagination
                (goPage)="goToPage($event)"
                (goNext)="onNext()"
                (goPrev)="onPrev()"
                [pagesToShow]="10"
                [page]="jsonpPage.current_page"
                [perPage]="jsonpPage.per_page"
                [count]="jsonpPage.total"></app-pagination>

            </div>
          </ng-container>
        </ng-container>

        <!--==============================================================-->
        <!--==============================================================-->
        <!--==============================================================-->

        <ng-container *ngIf="rows2">
          <ng-container *ngIf="rows2.length>0">
            <div *ngFor="let ch of rows2" class="row">

              <div *ngFor="let row of ch" class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature-item-container-box listing-item my-listing-item"  [style]="isMobile?'height: 330px !important;':''">
                  <div class="feature-title-item">

                    <img style="height: auto !important;" src="{{row.company_view}}" alt="img1">
                  </div>

                  <div class="feature-box-text" >
                    <a href="" style="color: black;"><i class="fa fa-map-marker"></i> {{row.official_name}}</a><br>


                    <ng-container *ngFor="let item of (row.telephone_number | keys )">

                      <a href="{{item.value.value}}" style="color: black;" *ngIf="item.value.value != null">
                        <i class="fa fa-phone"></i> {{item.value.value}}<span class="hidden-xs">( {{item.value.key}} )</span>
                        <br>
                      </a>
                    </ng-container>


                    <div>


                      <ng-container *ngFor="let item of (row.mobile_number | keys )">
                        <a href="mobile_number" style="color: #ff7f00;" *ngIf="item.value.value != null">
                          <i class="fa fa-phone"></i>  {{item.value.value}}
                          <!-- <span class="hidden-xs">( {{item.value.key}} )</span> -->
                        </a>
                      </ng-container>



                      <br>


                      <ng-container *ngFor="let item of (row.email | keys )">
                        <a href="email" style="color: #ff7f00;" *ngIf="item.value.value != null">
                          <i class="fa fa-envelope"></i> {{item.value.value}}
                        </a>
                      </ng-container>



                      <br>

                      <a href="{{row.website}}" target="_blank" style="color: #ff7f00;">
                        <i class="fa fa-globe"></i> {{row.website}}</a><br>
                      <i class="fa fa-map-marker text-danger"></i> {{row.address}}


                    </div>
                  </div>

                  <div class="feature-item-location">
                    <h2><a href=""><i class="fa fa-map-marker"></i> province_id  </a></h2>
                    <span>


                                <a href="">Detail <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </span>
                  </div>
                </div>


              </div>

            </div>

            <div class="vfx-person-block" style="text-align: center;">

              <app-pagination
                (goPage)="goToPage($event)"
                (goNext)="onNext()"
                (goPrev)="onPrev()"
                [pagesToShow]="10"
                [page]="page"
                [perPage]="limit"
                [count]="total"></app-pagination>

            </div>

          </ng-container>
        </ng-container>

        <!--==============================================================-->
        <!--==============================================================-->
        <!--==============================================================-->


      </div>
      <div id="faq-result-last"></div>
      <div class="loader-icon" id="loader-icon" style="text-align: center;">
        <img src="http://businesscardfolder.com/ajax-loader.gif">
      </div>
    </div>
  </div>
</div>


